PORT=5000
MONGODB_URI=mongodb://localhost:27017/sunosarkar
GEMINI_API_KEY=AIzaSyAQBteOngG8iPz_8k1YZlhpco4XaaIrKVo

JWT_SECRET=sunosarkar_dev_secret_key_2024
JWT_EXPIRE=7d

SLA_CRITICAL_HOURS=24
SLA_HIGH_HOURS=48
SLA_DEFAULT_HOURS=72
